# Python Basics
- Datatypes
- Variables
- Operators
- Variable assignment
- Print formatting

### Numbers

In [ ]:
# thid is single line comment in python.
'''
hello how are you, this is multiline comment
'''

In [1]:
1+1

2

In [2]:
1-2

-1

In [3]:
5*95

475

In [4]:
4/2

2.0

In [5]:
a = 5 ## here a is Variable assigned the value 5.
a = 6
print(a)

6

In [8]:
a=6
b=a
a=10
print(b)

6

In [10]:
type(a)

int

In [11]:
a= 10.5
print(a)
type(a)

10.5

float

# Datatypes and data structure
- int
- float
- string
- complex
- boolean
- list
- tuple
- dict
- set
- range
- frozen set

In [41]:
a=5
print(type(a))
b=2.5
print(type(b))
c="Machine learning"
print(type(c))
d=1+2j
print(type(d))
a = True
print(type(a))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'complex'>
<class 'bool'>

In [55]:
#Python Casting
#conversion of int to flot
a=5
c=float(a)
print(type(c))

a=5.2
print(int(a))

print(round(2.6))

import math
a=2.8
print("floor of a:",math.floor(a))

print("ceil of a:",math.ceil(a))

<class 'float'>
5
3
floor of a: 2
ceil of a: 3

In [59]:
#boolean
print(True +True)
print(False+False)
print(True+False)

2
0
1

## Keywords in python

In [14]:
import keyword     #total keywords in python
keyword. kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [21]:
#operators in python
#Addition, subtraction, multiplication,division
a=5
b=5
c=a+b
print("addition:",c)
c=a-b
print("subtraction:",c)
c=a*b
print("multiplication:",c)
c=a/b
print("Division:",c)
c=a%b
print("modules:", c)
c=a**b
print("exponential:",c)

addition: 10
subtraction: 0
multiplication: 25
Division: 1.0
modules: 0
exponential: 3125

In [24]:
#Assignment Operators
a=5
a+=3
print(a)
a-=3
print(a)
a*=2
print(a)
a/=2
print(a)
a%=2
print(a)

8
5
10
5.0
1.0

In [25]:
#logical operator
a,b = 5,6
a>3 and b>2

True

In [26]:
a<2 and b>8

False

In [28]:
a>5 | b<5

False

In [29]:
a!=8

True

In [32]:
#Identity and Membership operator
print(a is b)     #Identity operator
print(a is not b)

False
True

In [37]:
a=[1,2,5,6,7]    # Membership operator
print(5 in a)
print(6 not in a)

True
False

## Strings

In [69]:
a = "Hello, World!"
print(a[1])
print(a[-1:])
print(a[2:6])
#print(a[0]=l)  string is immutable

e
!
llo,

In [78]:
a = "banana"
for i in a:
    print(i)
print("================================")
print(len(a))

b
a
n
a
n
a
================================
6

In [81]:
a = "Hello world! "   # remove the whitespace
a.strip()

'Hello world!'

In [82]:
a.upper()   # upper letter

'HELLO WORLD! '

In [83]:
a.lower()    #lower letter

'hello world! '

In [86]:
a.replace('H','A')  #Replace letter

'Aello world! '

In [87]:
#concatanation
a = "nagesh"
b = "Mashette"
c = a+b
print(c)

nageshMashette

In [94]:
a = "Nagesh"
b = "World"
c = a +" "+ b
print(c)

Nagesh World

In [98]:
#string format
age =86
txt = "my age is john, i am" +age
print(txt)

TypeError: can only concatenate str (not "int") to str

In [99]:
age =86
txt = "my age is john, i am {}"
print(txt.format(age))

my age is john, i am 86

In [100]:
name="Nagesh"
role="AI/ML Devolper"
txt= "my name is {}, and my designation is {}"
print(txt.format(name, role))

my name is Nagesh, and my designation is AI/ML Devolper