# Conditional Statements
- if
- elseif
- else

In [1]:
a=8
b=5
if a>b:
    print("a is greater then b")

a is greater then b

In [2]:
a=10
b=55

if a>b:
    print("a is greater then b")
else:
    print("a smaller then b")

a smaller then b

In [5]:
#take two input and check even and odd
a = int(input('enter the value of a:'))

if a%2 == 0:
    print('even number')
else :
    print('odd number')

enter the value of a:23
odd number

In [10]:
dish = ['rice','samber','peda']

indian = input('enter the dish:')

if indian in dish:
    print('its available')
else:
    print('its not available')

enter the dish:papad
its not available

In [11]:
a=20                            # if , elif and else
b=20

if a>b:
    print('a is greater then b')
elif a<b:
    print('a is less then b')
else:
    print('a is equal to b')

a is equal to b

In [12]:
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

Both conditions are True

# Nested if

In [13]:
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
and also above 20!

# Loops 
- while
- for

In [14]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [15]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [17]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

# For loop

In [18]:
a = ['apple','ball','cat','dog']
for i in a:
    print(i)

apple
ball
cat
dog

In [19]:
sum = 0
for i in range(10):
    sum=sum+i
    print(sum)

0
1
3
6
10
15
21
28
36
45

In [20]:
for i in "banana":
    print(i)

b
a
n
a
n
a

In [24]:
fruits = ["apple", "banana", "cherry"]
for i in fruits:
    print(i)
    if i=="banana":
        break

apple
banana

In [25]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple

In [26]:
for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

In [27]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [28]:
for i in range(2,20):
    print(i)

2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [33]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry